:root{
    --moffat-mocha: #503827;
    --moffat-green: #476561;
    --moffat-sand: #6F5E4B;
    --moffat-white: #FBFBFC;
    --moffat-tan: #9C8F85;
    -moffat-background: #F6F6E9;
}

@font-face {
    font-family: catchyMager;
    src: local("catchy_mager"),
    url("../fonts/catchy_mager/catchy_mager.otf") format("opentype"),
    url("../fonts/catchy_mager/catchy_mager.ttf") format("truetype");
    font-family: Coco Gothic;
    src: local("coco_gothic"),
    url("../fonts/coco_gothic/Coco-Gothic-Regular-trial.ttf") format("truetype")
}
body, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
/* Room Reservation Page */
.bookingPage {
	background-color: var(--moffat-background);
}
.bookingPage h2 {
	font-size: 100px;
}
