:root {
    --moffat-mocha: #503827;
    --moffat-green: #476561;
    --moffat-sand: #6F5E4B;
    --moffat-white: #FBFBFC;
    --moffat-tan: #9C8F85;
    --moffat-background: #F6F6E9;
}

@font-face {
    font-family: catchyMager;
    src: local("catchy_mager"),
         url("../fonts/catchy_mager/catchy_mager.otf") format("opentype"),
         url("../fonts/catchy_mager/catchy_mager.ttf") format("truetype");
}

@font-face {
    font-family: Coco Gothic;
    src: local("coco_gothic"),
         url("../fonts/coco_gothic/Coco-Gothic-Regular-trial.ttf") format("truetype");
}

body, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
.attractionsContainer {
	background-color: var(--moffat-background);
	padding: 40px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.attractionsContainer h2 {
	text-align: center;
	font-size: 28px;
	color: var(--moffat-sand);
	margin-bottom: 20px;
}
.attractions-hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 15px;
	gap: 15px;
}
 .attractions-hero img {
	border-radius: 20px;
	align-content: center;
	max-width: 700px;
	height: auto;
}
.hero-content {
	max-width: 600px;
	padding: 10px;
	border-radius: 12px;
	
}
.hero-title {
	font-size: 1.5rem;
	color: var(--moffat-mocha);
	margin-bottom: 10px;
}
.hero-description {
	font-size: 1rem;
	color: var(--moffat-mocha);
	line-height: 1.6;
}
.attractions-row {
    display: flex;
    gap: 20px; 
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 300px; 
    background-color: var(--moffat-tan);
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-img img {
    width: 90%; 
    height: auto;
    align-items: center;
    margin-top: 10px;
}

.card-content {
    padding: 15px;
}

.tag {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--moffat-white);
    margin-bottom: 5px;
    display: block;
}

.card-content p {
    font-size: 0.9rem;
    color: var(--moffat-white);
	line-height: 1.6;
}

.card:hover {
	transform: scale(1.55);
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}




