/* 
Jacob Ambrose
Jackie Scott
Marissa Lee
*/ 
	 :root{
    --moffat-mocha: #503827;
    --moffat-green: #476561;
    --moffat-sand: #6F5E4B;
    --moffat-white: #FBFBFC;
    --moffat-tan: #9C8F85;
    --moffat-background: #F6F6E9;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
        @font-face {
            font-family: 'CatchyMager';
            src: local('catchy_mager'),
                url('../fonts/catchy_mager/catchy_mager.otf') format('opentype'),
                url('../fonts/catchy_mager/catchy_mager.ttf') format('truetype');
        }

        @font-face {
            font-family: 'Coco Gothic';
            src: local('coco_gothic'),
                url('../fonts/coco_gothic/Coco-Gothic-Regular-trial.ttf') format('truetype');
        }

body, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-color: var(--moffat-background);
    font-family: Arial, sans-serif;
}

h2 {
	font-size: 100px;
}
 .search_container {
	padding:  40px 0;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	}

 	
h1 {
	font-family: 'CatchyMager', Arial, sans-serif;
	text-align: center;
	font-size: 28px;
	color: var(--moffat-sand);
	margin-bottom: 20px;
}
.search-box {
	max-width: 1000px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap:10px;
	}
.search-box input, 
.search-btn {
	width: 100%;
 	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	}	
.search-box span {
	text-align: center;
	color: var(--moffat-sand);
	margin: 10px 0;
	
}
.form-group {
	margin-bottom: 15px;
}	
label {
	display: block;
	color: var(--moffat-mocha);
	margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"]
  {
	width: 100%;
	padding: 10px;
 border-radius: 4px;
 box-sizing: border-box;
}
input[readonly] {
	cursor: not-allowed;
}

.search-btn {
	padding: 12px;
	background-color: var(--moffat-green);
	color: var(--moffat-white);
	font-size: 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 15px;
}
.search-btn:hover {
	background-color: var(--moffat-mocha);
	color: var(--moffat-white);
}

.resDetails {
	max-width: 1000px;
	width: 100%;
	margin: 20px auto;
	padding: 20px;
	background-color: var(--moffat-white);
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.resDetails h3 {
	text-align: center;
	color: var(--moffat-mocha);
	margin-bottom: 20px;
}
.resDetails div {
	font-size: 16px;
	color: var(--moffat-tan);
	margin-bottom: 10px;
}
.resDetails label {
	font-weight: bold;
}
.guests {
	display: flex;
	gap: 20px
}
.guest-group {
	display: flex;
	flex-direction: column;
	width: 100%;
}

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	