/* 
Jacob Ambrose
Jackie Scott
Marissa Lee
*/ 

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9C8F85;
}

nav {
    width: 100%; Ensure the navbar spans the full width
    background-color: #333; Example: dark background for the navbar
    color: white;
    padding: 10px; Adjust as needed for spacing
    position: fixed; Keep it at the top
    top: 0;
    left: 0;
    z-index: 1000; Ensure it's above other elements
}
 */
 :root {
	--moffat-mocha: #503827;
	--moffat-green: #476561;
	--moffat-sand: #6F5E4B;
	--moffat-white: #FBFBFC;
	--moffat-tan: #9C8F85;
	--moffat-background: #F6F6E9;
}

    @font-face {
            font-family: 'CatchyMager';
            src: local('catchy_mager'),
                url('../fonts/catchy_mager/catchy_mager.otf') format('opentype'),
                url('../fonts/catchy_mager/catchy_mager.ttf') format('truetype');
        }

    @font-face {
            font-family: 'Coco Gothic';
            src: local('coco_gothic'),
                url('../fonts/coco_gothic/Coco-Gothic-Regular-trial.ttf') format('truetype');
        }

body {
	background-color: var(--moffat-background);
}
.contactContainer {
	font-family: 'CatchyMager', Arial, sans-serif !important;
    display: flex;
    flex-direction: column; /* Stack sections vertically */
    width: 50%; /* Adjust width as needed */
    margin: 100px auto 0; /* Add top margin to account for the fixed navbar */
    box-sizing: border-box;
    background-color: #FFF; /* Optional: background color for the content */
    padding: 20px; /* Add padding around content */
    border-radius: 10px; /* Optional: rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: shadow for better visual appeal */
}

input, textarea, button {
    width: 70%; /* Reduce input size to fit nicely */
    margin: 0 auto; /* Center inputs */
    padding: 10px; /* Add padding inside inputs */
    font-size: 16px; /* Adjust font size */
    box-sizing: border-box; /* Include padding in width */
}


input::placeholder, textarea::placeholder {
    color: #888; /* Change color of placeholder text */
    font-style: italic; /* Style the placeholder text */
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    text-transform: uppercase;
    margin: 0 auto; /* Center button */
}

button:hover {
    background-color: #0056b3;
}

.info-section ul {
    list-style-type: none; /* Remove bullets or any list item graphics */
    padding-left: 0; /* Remove indentation */
    margin: 0; /* Remove default margin */
    text-align: center;
}

.info-section h1, h2 {
	font-family: 'CatchyMager', Arial, sans-serif !important;
	text-align: center;}
	
.info-section p {
	font-family: Arial, sans-serif !important;
    margin-top: 20px; /* Add space above the paragraph */
    text-align: center;
}


